#overlay-chat {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 2px;
    z-index: 9999;
    height: 400px;
    width: 200px;
    overflow-y: hidden;
}

#overlay-chat:hover {
    position: absolute;
    border-style: solid;
    padding: 0px;
    border-width: 2px;
    border-color: red;
}
