#overlay-chat {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 2px;
    z-index: 9999;
    height: 400px;
    width: 200px;
    overflow-y: hidden;
}

#overlay-chat:hover {
    position: absolute;
    border-style: solid;
    padding: 0px;
    border-width: 2px;
    border-color: red;
}
#overlay-chat.ew-resize {
    cursor: ew-resize;
}
#overlay-chat.ns-resize {
    cursor: ns-resize;
}
#overlay-chat.nesw-resize {
    cursor: nesw-resize;
}
#overlay-chat.nwse-resize {
    cursor: nwse-resize;
}
#overlay-chat.move {
    cursor: move;
}
